.custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.custom-button:hover {
background-color: #45a049;
}

.custom-button-danger {
background-color: #ff4c4c;
color: white;
padding: 10px 15px;
border: none;
border-radius: 5px;
font-size: 14px;
}

.custom-button-danger:hover {
background-color: #d43f3f;
}

table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
border: 1px solid #ddd;
font-family: Arial, sans-serif;
margin-bottom: 20px;
}

th, td {
padding: 10px;
border: 1px solid #ddd;
}

th {
cursor: pointer;
text-align: left;
}

th.sorted-asc {
background-color: #cce5ff;
}

th.sorted-desc {
background-color: #d4edda;
}

tfoot {
font-weight: bold;
}

a {
color: #007BFF;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

p {
font-family: Arial, sans-serif;
}
  